

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  display: flex;
  border: 5px black;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin: auto;
}
